<!DOCTYPE html>
<html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'sample_maker/style.css' %}" />

<div class="pokemon-detail detail-type-{{ pokemonspec.types.all.0.pk }}" id="type-{{ pokemonspec.types.all.0.pk }}">
    <div class="image">
        <img  class="profile_content" style="width: 300px; height: 300px; background: url({% static 'pokedex/images/profile'  %}/{{ pokemonspec.pk }}.png) -150px -150px /auto;" >
    </div>

    <div class="index-number">
        No.{{ pokemonspec.index_number }}
    </div>

    <a href="{% url 'pokedex:pokemon_detail' pokemonspec.pk %}" title="{{ pokemonspec.name.korean }} 도감 보기">
        <div class="name">
            {{ pokemonspec.name.korean }}
        </div>
    </a>

    <ul class="types">
        {% for type in pokemonspec.types.all %}
            <li class="pokemon-type-{{ type.pk }}" style="white-space: nowrap;">{{ type.name.korean }}</li>
        {% endfor %}
    </ul>

    <div class="pokemon-option">
        <table>
            <tr>
                <td>
                    <strong>특성</strong>
                </td>
                <td>
                     <select id="select_ability" onchange="ability_changed()">
                        {% for ability in pokemonspec.can_have_abilities.all %}
                            <option
                                title="{{ ability.description.korean }}">
                                {{ ability.name.korean }}
                            </option>
                        {% endfor %}
                        {% for hidden_ability in pokemonspec.hidden_ability.all %}
                            <option
                                style="background-color: lightgray;"
                                title="{{ hidden_ability.description.korean }}">
                                {{ hidden_ability.name.korean }}
                            </option>
                        {% endfor %}
                    </select>
                                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <strong>성격</strong>
                </td>
                <td>
                    <select id="select_nature" onchange="nature_changed()">
                        {% for nature in natures %}
                            <option
                                data-increased_stat="{{ nature.increased_stat.korean }}"
                                data-decreased_stat="{{ nature.decreased_stat.korean }}"
                                title="{{ nature.increased_stat.korean }}▲ {{ nature.decreased_stat.korean }}▼">
                                {{ nature.name.korean }}
                            </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <strong>지닌 물건</strong>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="pokemon-stats">
    <div class="chart-container">
        <canvas class="chart" id="stats-chart">

        </canvas>
    </div>
    <div class="stats">
        <table class="stats-table">
            <tr>
                <th>
                </th>
                    {% for stat in stats %}
                        <th>{{ stat.korean }}</th>
                    {% endfor %}
                <th>총합</th>
            </tr>
            <tr>
                <td>
                    <strong>종족값</strong>
                </td>
                <td id="base_hp">{{ pokemonspec.base_hp }}</td>
                <td id="base_attack">{{ pokemonspec.base_attack }}</td>
                <td id="base_defense">{{ pokemonspec.base_defense }}</td>
                <td id="base_special_attack">{{ pokemonspec.base_special_attack }}</td>
                <td id="base_special_defense">{{ pokemonspec.base_special_defense }}</td>
                <td id="base_speed">{{ pokemonspec.base_speed }}</td>
                <td id="sum_of_base_stats">{{ pokemonspec.sum_of_base_stats }}</td>
            </tr>
            <tr>
                <td>
                    <strong>개체값</strong>
                </td>
                {% for stat in formal_stats %}
                    <td><input type="number" value="31" min="0" max="31" id="{{ stat }}_IV" oninput="IV_changed('{{ stat }}')"></td>
                {% endfor %}
                <td><span id="hidden_power" class="pokemon-type-16">악</span></td>
            </tr>
            <tr>
                <td>
                    <strong>노력치</strong>
                </td>
                {% for stat in formal_stats %}
                    <td><input type="number" value="0" min="0" max="252" id="{{ stat }}_EV" oninput="EV_changed('{{ stat }}')"></td>
                {% endfor %}
                <td><input type="number" value="0" min="0" max="510" readonly id="sum_EV"></td>
            </tr>
            <tr>
                <td>
                    <strong>실능치</strong>
                </td>
                {% for stat in formal_stats %}
                    <td id="actual_{{ stat }}"></td>
                {% endfor %}
                <td id="sum_actual_stats"></td>
            </tr>
        </table>
    </div>
</div>

<div style="display: none">


    <div id="actual_stats">
        <table>
            <tr>
                <th>물리 내구력</th>
                <th>특수 내구력</th>
            </tr>
            <tr>
                <td id="physical_durability"></td>
                <td id="special_durability"></td>
            </tr>
        </table>
    </div>

<div>
    <h2>기술</h2>
    {% for i in number_of_moves %}
        <div>
            <select id="select_learned_move_{{ i }}" onchange="learned_move_changed({{ i }})">
                <option selected>--</option>
                {% for move in pokemonspec.can_learn_moves_order_by_ascending_id %}
                    <option
                        data-pk="{{ move.pk }}"
                        data-damage="{{ move.damage_to_str }}"
                        data-accuracy="{{ move.accuracy_to_str }}"
                        data-description="{{ move.description.korean }}"
                        data-category="{{ move.category.name.korean }}"
                        data-type_pk="{{ move.type.pk }}">
                        {{ move.name.korean }}
                    </option>
                {% endfor %}
            </select>
            <table id="learned_move_{{ i }}_table">
                <tr>
                    <th>위력</th>
                    <th>명중률</th>
                    <th>분류</th>
                </tr>
                <tr>
                    <td id="move_{{ i }}_damage"></td>
                    <td id="move_{{ i }}_accuracy"></td>
                    <td id="move_{{ i }}_category"></td>
                </tr>
                <tr>
                    <th>설명</th>
                </tr>
                <tr>
                    <td id="move_{{ i }}_description"></td>
                </tr>
                <tr>
                    <th>결정력</th>
                </tr>
                <tr>
                    <td id="move_{{ i }}_decisive_power"></td>
                </tr>
            </table>
        </div>
    {% endfor %}
</div>
</div>

<script>
    const stats = ['hp', 'attack', 'defense', 'special_attack', 'special_defense', 'speed'];
    const number_of_moves = 4;
    input_changed();

    draw_stats_chart();

    function get_base_stats() {
        var base_stats = {}
        for (i = 0; i < stats.length; i++) {
            var id = "base_" + stats[i];
            var base_stat = parseInt(document.getElementById(id).innerHTML);
            base_stats[stats[i]] = base_stat;
        }

        return base_stats;
    }

    function get_EVs() {
        var EVs = {}
        for (i = 0; i < stats.length; i++) {
            var id = stats[i] + "_EV";
            var EV = parseInt(document.getElementById(id).value);
            EVs[stats[i]] = EV;
        }

        return EVs;
    }

    function get_IVs() {
        var IVs = {}
        for (i = 0; i < stats.length; i++) {
            var id = stats[i] + "_IV";
            var IV = parseInt(document.getElementById(id).value);
            IVs[stats[i]] = IV;
        }

        return IVs;
    }

    function get_actual_stats() {
        var actual_stats = {}
        for (i = 0; i < stats.length; i++) {
            var id = "actual_" + stats[i];
            var actual_stat = parseInt(document.getElementById(id).innerHTML);
            actual_stats[stats[i]] = actual_stat;
        }

        return actual_stats;
    }

    function get_stats_affected_by_nature(){
        var nature = document.getElementById("select_nature");
        nature = nature.options[nature.selectedIndex];
        var increased_stat = nature.getAttribute('data-increased_stat');
        var decreased_stat = nature.getAttribute('data-decreased_stat');

        return {'increased': increased_stat, 'decreased': decreased_stat};
    }

    function set_actual_stats(actual_stats) {
        var sum = 0;
        for (i = 0; i < stats.length; i++) {
            var actual_stat_id = "actual_" + stats[i];
            sum += actual_stats[stats[i]];

            document.getElementById(actual_stat_id).innerHTML = actual_stats[stats[i]];
        }

        console.log(sum);
        document.getElementById("sum_actual_stats").innerHTML = sum;
    }

    function set_durability(durability) {
        document.getElementById("physical_durability").innerHTML = durability['physical'];
        document.getElementById("special_durability").innerHTML = durability['special'];
    }

    function ability_changed() {
        var ability = document.getElementById("select_ability");
        ability = ability.options[ability.selectedIndex];
        var description = ability.getAttribute('title');
    }

    function nature_changed() {
        input_changed();
    }

    function IV_changed(stat) {
        var id = stat + "_IV";
        check_value(id);

        judge_hidden_power()
        input_changed()
    }

    function judge_hidden_power() {
        var IVs = get_IVs();

        var type_value = calculate_hidden_power_type_value(IVs);
        var type = decide_hidden_power_type(type_value);

        var type_pk = type_name_to_pk_converter(type);

        var hidden_power = document.getElementById("hidden_power");
        hidden_power.innerHTML = type;
        hidden_power.setAttribute("class", "pokemon-type-" + type_pk);
    }

    function calculate_hidden_power_type_value(IVs) {
        var type_value = (IVs['hp'] % 2) +
        (2 * (IVs['attack'] % 2)) + (4 * (IVs['defense'] % 2)) +
        (8 * (IVs['speed'] % 2)) +
        (16 * (IVs['special_attack'] % 2)) + (32 * (IVs['special_defense'] % 2));

        type_value *= 15;
        type_value /= 63;
        type_value = parseInt(type_value);

        return type_value;
    }

    function decide_hidden_power_type(type_value) {
        var type = '없음';
        switch (type_value) {
            case 0:
                type = '격투';
                break;
            case 1:
                type = '비행';
                break;
            case 2:
                type = '독';
                break;
            case 3:
                type = '땅';
                break;
            case 4:
                var type = '바위';
                break;
            case 5:
                type = '벌레';
                break;
            case 6:
                type = '고스트';
                break;
            case 7:
                type = '강철';
                break;
            case 8:
                type = '불꽃';
                break;
            case 9:
                type = '물';
                break;
            case 10:
                type = '풀';
                break;
            case 11:
                type = '전기';
                break;
            case 12:
                type = '에스퍼';
                break;
            case 13:
                type = '얼음';
                break;
            case 14:
                type = '드래곤';
                break;
            case 15:
                type = '악';
                break;
        }

        return type;
    }

    function type_name_to_pk_converter(name){
        {% for type in pokemontypes %}
            if (name == '{{ type.name.korean }}' || name == '{{ type.name.english }}') {
                return {{ type.pk }}
            }
        {% endfor %}
    }

    function EV_changed(stat) {
        var id = stat + "_EV";
        check_value(id);

        var total_EVs = sum_of_EVs();

        var sum_EV = document.getElementById("sum_EV");
        sum_EV.value = total_EVs;

        var EV = document.getElementById(id);

        if (total_EVs > parseInt(sum_EV.max)) {
            alert("노력치의 총합은 510을 넘을 수 없습니다");
            var ev_value = parseInt(EV.value) - (total_EVs - parseInt(sum_EV.max));
            EV.value = ev_value;
            sum_EV.value = sum_EV.max;
        }

        if (EV.value == EV.max) {
            EV.setAttribute("class", "EV-reach-max");
        }
        else{
            EV.removeAttribute("class");
        }

        if (sum_EV.value == sum_EV.max) {
            sum_EV.setAttribute("class", "sum-of-EVs-reach-max");
        }
        else {
            sum_EV.removeAttribute("class");
        }

        input_changed()
    }

    function learned_move_changed(index) {
        var id = "select_learned_move_" + index;
        var move_select = document.getElementById(id);
        var move = move_select.options[move_select.selectedIndex];

        var move_table_id = "learned_move_" + index + "_table";
        var move_table = document.getElementById(move_table_id);

        if (move.value == '--') {
            set_learned_move_to_none(index, move_select, move_table);
            return;
        }

        var pk = move.getAttribute('data-pk');


        if (is_duplicated_move(index, pk)) {
                set_learned_move_to_none(index, move_select, move_table);
                alert("이미 배운 기술입니다.");
                return;
        }

        document.getElementById(move_table_id).style.display = "initial";

        var damage = move.getAttribute('data-damage');
        var accuracy = move.getAttribute('data-accuracy');
        var description = move.getAttribute('data-description');
        var category = move.getAttribute('data-category');

        set_learned_move_spec(index, 'damage', damage);
        set_learned_move_spec(index, 'accuracy', accuracy);
        set_learned_move_spec(index, 'description', description);
        set_learned_move_spec(index, 'category', category);

        var type_pk = move.getAttribute('data-type_pk');

        var actual_stats = get_actual_stats();
        var decisive_power = calculate_move_decisive_power(actual_stats, damage, category, type_pk);

        var decisive_power_id = "move_" + index + "_decisive_power";
        document.getElementById(decisive_power_id).innerHTML = decisive_power;

        calculate_stab(type_pk);
    }

    function set_learned_move_spec(index, spec, value) {
        var id = "move_" + index + "_" + spec;
        document.getElementById(id).innerHTML = value;
    }

    function set_learned_move_to_none(index, move_select, move_table) {
        move_select.options[0].selected = "selected";
        move_table.style.display = "none";
        set_learned_move_spec(index, 'damage', '');
        set_learned_move_spec(index, 'accuracy', '');
        set_learned_move_spec(index, 'description', '');
        set_learned_move_spec(index, 'category', '');
    }

    function is_duplicated_move(index, move_pk) {
        for (i = 0; i < number_of_moves; i++) {
            if (i != index) {
                var another_move_select_id = "select_learned_move_" + i;
                var another_move_select = document.getElementById(another_move_select_id);
                var another_move = another_move_select.options[another_move_select.selectedIndex];
                var another_move_pk = another_move.getAttribute('data-pk');

                if (another_move_pk == move_pk) {
                    return true;
                }
            }
        }
        return false;
    }

    function check_value(id) {
        var x = document.getElementById(id);
            if (x.value > parseInt(x.max)) {
                x.value = x.max;
            }
            else if (x.value < parseInt(x.min)) {
                x.value = x.min;
            }
            else if (x.value == '') {
                x.value = x.min;
            }
    }

    function sum_of_EVs() {
        var sum = 0;
        for (i = 0; i < stats.length; i++) {
            var id = stats[i] + "_EV";
            value = document.getElementById(id).value;
            value = parseInt(value)
            sum += value;
        }
        return sum;
    }

    function calculate_actual_stats(base_stats, EVs, IVs) {
        var level = 50;
        var actual_stats = {};

        for (i = 0; i < stats.length; i++) {
            var actual_stat = (base_stats[stats[i]] * 2 + IVs[stats[i]] + EVs[stats[i]]/4);
            actual_stat *= level / 100;

            if (stats[i] == 'hp') {
                actual_stat += 10 + level;
            }
            else {
                actual_stat += 5;
                var nature_gain = calculate_nature_gain(stats[i]);
                actual_stat *= nature_gain
            }

            actual_stat = parseInt(actual_stat);
            actual_stats[stats[i]] = actual_stat;
        }

        return actual_stats;
    }

    function calculate_durability(actual_stats) {
        var durability = {};
        durability['physical'] = parseInt((actual_stats['hp'] * actual_stats['defense']) / 0.411);
        durability['special'] = parseInt((actual_stats['hp'] * actual_stats['special_defense']) / 0.411);

        return durability;
    }

    function calculate_move_decisive_power(actual_stats, move_damage, move_category, move_type_pk) {
        var stab = calculate_stab(move_type_pk);
        var category = move_category_translator(move_category);
        var decisive_power = 0;

        if (damage = parseInt(move_damage)) {
            if (category == 'physical') {
                decisive_power = damage * actual_stats['attack'];
            }
            else if (category == 'special') {
                decisive_power = damage * actual_stats['special_attack'];
            }
            decisive_power *= stab
        }

        return decisive_power;
    }

    function calculate_nature_gain(stat) {
        var affected_stats = get_stats_affected_by_nature();

        increased_stat = stat_translator(affected_stats['increased']);
        decreased_stat = stat_translator(affected_stats['decreased']);

        if (increased_stat == stat) {
            return 1.1
        }
        else if (decreased_stat == stat) {
            return 0.9
        }
        else {
            return 1;
        }
    }

    function calculate_stab(move_type_pk) {
        var stab = 1;
        var types = document.getElementById("types_tr").cells;
        for (i = 0; i < types.length; i++) {
            var type_pk = types[i].getAttribute('data-pk');

            if (type_pk == move_type_pk) {
                stab = 1.5;
            }
        }
        return stab;
    }

    function input_changed() {
        var base_stats = get_base_stats();
        var EVs = get_EVs();
        var IVs = get_IVs();

        var actual_stats = calculate_actual_stats(base_stats, EVs, IVs);
        set_actual_stats(actual_stats);

        var durability = calculate_durability(actual_stats);
        set_durability(durability);

        for (i = 0; i < number_of_moves; i ++) {
            learned_move_changed(i);
        }

        draw_stats_chart();
    }

    function stat_translator(stat) {
        var stat = stat.toLowerCase();
        stat = stat.replace(' ', '');
        if (stat == 'hp') {
            return 'hp';
        }

        if (stat == '공격' || stat == 'attack') {
            return 'attack';
        }
        else if (stat == '방어' || stat == 'defense') {
            return 'defense';
        }
        else if (stat == '특수공격' || stat == 'specialattack') {
            return 'special_attack';
        }
        else if (stat == '특수방어' || stat == 'specialdefense') {
            return 'special_defense';
        }
        else if (stat == '스피드' || stat == 'speed') {
            return 'speed';
        }
        else {
            return 'none';
        }
    }

    function move_category_translator(move_category) {
        var category = move_category.toLowerCase();
        category = category.replace(' ', '');
        if (category == '물리' || category == 'physical') {
            return 'physical';
        }
        else if (category == '특수' || category == 'special') {
            return 'special';
        }

        else if (category == '변화' || category == 'status') {
            return 'status';
        }
        else {
            return 'none';
        }
    }

    function get_chart_context() {
        var canvas = document.getElementById("stats-chart");
        var context = canvas.getContext('2d');

        return context;
    }

    function get_base_points() {
        var l = 150;

        var start_point = {'x': 125, 'y': 40};
        var hp_point = {'x': start_point['x'] + (l * Math.sqrt(3) / 2), 'y': start_point['y']};
        var attack_point = {'x': start_point['x'], 'y': start_point['y'] + (l / 2)};
        var sp_attack_point = {'x': start_point['x'], 'y': attack_point['y'] + l};
        var speed_point = {'x': hp_point['x'], 'y': sp_attack_point['y'] + (l / 2)};
        var sp_defense_point = {'x': hp_point['x'] + (l * Math.sqrt(3) / 2), 'y': sp_attack_point['y']};
        var defense_point = {'x': sp_defense_point['x'], 'y': attack_point['y']};

        var base_points = {
            'hp': hp_point,
            'attack': attack_point, 'defense': defense_point,
            'special_attack': sp_attack_point, 'special_defense': sp_defense_point,
            'speed': speed_point
        }

        return base_points;
    }

    function get_stats_text_points(){
        var text_d = 20;

        var base_points = get_base_points();

        var hp_text_point = {'x': base_points['hp']['x'], 'y': base_points['hp']['y'] - text_d};
        var attack_text_point = {'x': base_points['attack']['x'] - (text_d * Math.sqrt(3) / 2), 'y': base_points['attack']['y'] - text_d / 2};
        var defense_text_point = {'x': base_points['defense']['x'] + (text_d * Math.sqrt(3) / 2), 'y': attack_text_point['y']};
        var sp_attack_text_point = {'x': attack_text_point['x'], 'y': base_points['special_attack']['y'] + text_d / 2};
        var sp_defense_text_point = {'x': defense_text_point['x'], 'y': base_points['special_defense']['y'] + text_d / 2};
        var speed_text_point = {'x': base_points['speed']['x'], 'y': base_points['speed']['y'] + text_d};

        var stats_text_points = {
            'hp': hp_text_point,
            'attack': attack_text_point, 'defense': defense_text_point,
            'special_attack': sp_attack_text_point, 'special_defense': sp_defense_text_point,
            'speed': speed_text_point
        }

        return stats_text_points;
    }

    function draw_stats_chart() {
        var canvas = document.getElementById("stats-chart");
        var context = get_chart_context();

        canvas.width = 500;
        canvas.height = 380;

        context.clearRect(0, 0, canvas.width, canvas.height);
        var base_points = get_base_points();

        draw_base_stats_hexagon(context, base_points);

        var stats_text_points = get_stats_text_points();
        draw_stats_text(context, stats_text_points);
    }

    function draw_base_stats_hexagon(context, base_points){
        context.beginPath();

        context.moveTo(base_points['hp']['x'], base_points['hp']['y']);
        context.lineTo(base_points['attack']['x'], base_points['attack']['y']);
        context.lineTo(base_points['special_attack']['x'], base_points['special_attack']['y']);
        context.lineTo(base_points['speed']['x'], base_points['speed']['y']);
        context.lineTo(base_points['special_defense']['x'], base_points['special_defense']['y']);
        context.lineTo(base_points['defense']['x'], base_points['defense']['y']);
        context.lineTo(base_points['hp']['x'], base_points['hp']['y']);

        context.stroke();
    }

    function draw_stats_text(context, stats_text_points) {;
        var affected_stats = get_stats_affected_by_nature();
        var increased_stats = stat_translator(affected_stats['increased']);
        var decreased_stats = stat_translator(affected_stats['decreased']);

        {% for stat in stats %}
            var formal_stat = stat_translator('{{ stat }}');
            if (formal_stat == 'special_attack' || formal_stat == 'attack') {
                context.textAlign = "right";
            }

            else if (formal_stat == 'defense' || formal_stat == 'special_defense') {
                context.textAlign = "left";
            }

            else {
                context.textAlign = "center";
            }

            if (formal_stat == increased_stat) {
                context.fillStyle = "#31A2F2";
                context.font = "bold 20px Arial";
            }

            else if (formal_stat == decreased_stat) {
                context.fillStyle = "#E3727A";
                context.font = "bold 20px Arial";
            }

            else {
                context.fillStyle = "black";
                context.font = "normal 20px Arial";
            }

            context.fillText('{{ stat.korean }}', stats_text_points[formal_stat]['x'], stats_text_points[formal_stat]['y']);
        {% endfor %}
    }
</script>
</html>